<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그파일 저장 경로 -->
    <property name="LOG_DIR" value="C:/Users/Pesik/Desktop/SecurityMVC/logs" />

    <!-- 콘솔 로그 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 일반 애플리케이션 로그 -->
    <appender name="APPLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application_Security.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%logger{36}:%file:%method:%line]\t%msg%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/application_Security.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Spring Boot 로그 -->
    <appender name="SPRING_BOOT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/spring_boot.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%logger{36}:%file:%method:%line]\t%msg%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/spring_boot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>


    <!-- 특정 패키지 로그 (com.spring.SecurityMVC.SpringSecurity) -->
    <appender name="SECURITY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/security.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%logger{36}:%file:%method:%line]\t%msg%n</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archive/security.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>


    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APPLOG" />
    </root>

    <!-- Spring Boot 로거 설정 -->
    <logger name="org.springframework.boot" level="debug" additivity="false">
        <appender-ref ref="SPRING_BOOT_LOG" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 특정 패키지 (com.spring.SecurityMVC.SpringSecurity) 로거 설정 -->
    <logger name="com.spring.SecurityMVC.SpringSecurity" level="debug" additivity="false">
        <appender-ref ref="SECURITY_LOG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APPLOG"/>
    </logger>

</configuration>
